/* ################################################################### */

body {
    background-color: rgba(105, 105, 105, 0.301);
    background-image: url("https://github.com/jtsujtsu/juanjosejs.github.io/blob/main/imagenes/protagonista%20real.jpg?raw=true");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

/* ################################################################### */

.tit-sinop {
    display: flex;
    justify-content: center;
}

.tit-sinop h2 {
    padding: 15px;
    margin: 20px;
    width: fit-content;
    height: auto;
    background-color: rgba(255, 255, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
}

.tit-perso {
    display: flex;
    justify-content: center;
}

.tit-perso h2 {
    padding: 15px;
    margin: 20px;
    width: fit-content;
    height: auto;
    background-color: rgba(255, 255, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
}

.tit-serie {
    display: flex;
    justify-content: center;
}

.tit-serie h2 {
    padding: 15px;
    margin: 20px;
    width: fit-content;
    height: auto;
    background-color: rgba(255, 255, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
}

/* ################################################################### */

main {
    background-color: rgba(238, 104, 55, 0.5);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    width: cover;
}

/* ################################################################### */

.sinopsis {
    text-decoration: none;
    justify-content: center;
    text-justify: center;
    align-items: center;
}

.ver-serie {
    background-color: rgba(240, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sinopsis-texto {
    display: flex;
    justify-content: center;
}

.sinopsis-texto text {
    background-color: rgba(240, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caracteristicas-sinopsis {
    display: flex;
    justify-content: center;
}

.caracteristicas-sinopsis img {
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;  
}

.caracteristicas-sinopsis text {
    background-color: rgba(240, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    width: 450px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ################################################################### */

header {
    background-color: rgba(128, 255, 0, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    width: cover;
}

/* ################################################################### */

.encabezado-pagina {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-general {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.titulo-principal {
    padding: 15px;
    margin: 20px;
    background-color: rgba(218, 112, 214, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
}

.navegador ul {
    list-style: none;
    display: flex;
}

.navegador ul li {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 5px;
    background-color: rgba(0, 195, 255, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
}

/* ################################################################### */

footer {
    background-color: rgba(0, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    width: cover;
}

/* ################################################################### */

.pie-pagina {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-justify: center;
    align-items: center;
}

.pie-julian ul {
    list-style: none;
}

.pie-julian ul li {
    padding: 10px;
    margin: 10px;
    background-color: rgba(137, 43, 226, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pie-profe ul {
    list-style: none;
}

.pie-profe ul li {
    padding: 10px;
    margin: 10px;
    background-color: rgba(137, 43, 226, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}