/* ################################################################### */

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.500);
    border: 10px;
    border-color: rgba(0, 0, 0, 0.600);
    border-style: groove;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: blueviolet;
}

nav ul li:hover {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    width: 155px;
    font-size: 18px;
}

/* ################################################################### */

.pie-pagina {
    display: flex;
    flex-wrap: wrap;
    text-justify: center;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.tit-biogra {
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tit-biogra h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
    text-align: center;
    background-color: rgba(255, 255, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
}

.tit-biogra h2:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
    text-align: center;
    background-color: lightcoral;
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
}

.pie-julian ul {
    padding: 5px;
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-julian ul li {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsla(282, 46%, 57%, 0.502);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 330px;
    height: 50px;
    font-size: 15px;
}

.pie-profe ul {
    padding: 5px;
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-profe ul li {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsla(282, 46%, 57%, 0.502);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: max-content;
    width: 330px;
    height: 50px;
    font-size: 15px;
}

/* ################################################################### */