/* ################################################################### */

.tit-sinop {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.tit-sinop h2 {
    padding: 15px;
    margin: 20px;
    width: fit-content;
    height: auto;
    background-color: rgba(255, 255, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
}

.tit-perso {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.tit-perso h2 {
    padding: 15px;
    margin: 20px;
    width: fit-content;
    height: auto;
    background-color: rgba(255, 255, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
}

.tit-serie {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.tit-serie h2 {
    padding: 15px;
    margin: 20px;
    width: fit-content;
    height: auto;
    background-color: rgba(255, 255, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
}

/* ################################################################### */

main {
    background-color: rgba(0, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    width: cover;
}

/* ################################################################### */

.sinopsis {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    justify-content: center;
    text-justify: center;
    align-items: center;
}

.ver-serie {
    background-color: rgba(240, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sinopsis-texto {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.sinopsis-texto text {
    background-color: rgba(240, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.caracteristicas-sinopsis {
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caracteristicas-sinopsis img {
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
}

.caracteristicas-sinopsis text {
    background-color: rgba(240, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    width: 510px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    font-size: 18px;
}

/* ################################################################### */