/* ################################################################### */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://github.com/jtsujtsu/juanjosejs.github.io/blob/main/imagenes/protagonista%20real.jpg?raw=true");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* ################################################################### */

header {
    text-align: center;
    background-color: rgba(0, 255, 255, 0.500);
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

/* ################################################################### */

.estilo {
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .foto-cartel {
    padding: 15px;
    margin: 5px;
    text-justify: center;
    align-items: center;
    justify-content: center;
}

header .foto-cartel img {
    padding: 20px;
    margin: 5px;
    background-color: rgba(0, 100, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    width: 70%;
    height: 50%;
}

header .foto-personajes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .foto-personajes img {
    padding: 15px;
    margin: 5px;
    background-color: rgba(165, 42, 42, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    width: 60%;
    height: 60%;
}

header .encabezado-pagina {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 5px;
    background-color: rgba(255, 140, 0, 0.500);
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    width: 130px;
}

/* ################################################################### */